* {
    font-family: 'Poppins', sans-serif;
}

html {
    height: 100vh;
    background-color: #f5f8fa;
}

body {
    width: 50%;
    /* max-height: 100%; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #52c9ff;
}

#logo {
    height: 50px;
}

#animal-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.animal-card {
    width: 210px;
}

.animal-photo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
